:root {
  --text-highlight: #6c5fbc;
  --text-primary: #606060;
  --text-base: #323142;
  --text-cards-desc: #b7b4b4;
  --border-color: #cbcbcb;
  --site-background: #f9f9f9;
  --footer-background: #eaeaea;

  --font-family-base: "Inter", sans-serif;
  --font-family-hightlight: "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--site-background);
}


.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--border-color);
  margin: 48px 96px;
}

.header-banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin-bottom: 24.6px;
}

.header-banner img {
  width: 35.73px;
  height: 29.74px;
}

.header-banner h2 {
  font-family: var(--font-family-hightlight);
  color: var(--text-highlight);
  font-weight: 600;
  font-size: 21.18px;
  line-height: 130%;
}

.header-nav {
  margin-bottom: 24.6px;
  margin-right: 400px;
}
.header-nav ul {
  list-style: none;
  display: flex;
  gap: 53.49px;
}

.header-nav a {
  text-decoration: none;
  color: var(--text-primary);
  font-family: var(--font-family-hightlight);
  font-weight: 500;
  font-size: 17.83px;
}

.header-nav ul li:nth-child(2) a {
  color: var(--text-highlight);
}

.auth-header {
  margin-bottom: 24.6px;
}

.auth-header button {
  padding: 10px;
  font-family: var(--font-family-base);
  font-weight: 700;
  font-size: 17.83px;
  line-height: 26.74px;
  border: none;
  background-color: var(--site-background);
  cursor: pointer;
}

.auth-header button:nth-child(2) {
  background-color: var(--text-highlight);
  color: var(--site-background);
  border-radius: 17.83px;
}

.main-banner {
  display: flex;
  align-items: center;
  background: var(--text-highlight);
  border-radius: 40px;
  
  position: relative;
  min-height: 300px;
}

.banner-content {
  padding: 60px;
  width: 55%; 
}

.banner-content h2{
  font-family: var(--font-family-hightlight);
  font-weight: 600;
  font-size: 72px;
  color: var(--site-background);
}

.subscribe-form {
  position: relative; 
  display: flex;
  align-items: center;
}

.subscribe-form input {
  width: 100%; 
  height: 80px; 
  border-radius: 16px;
  border: none;
  padding: 0 160px 0 30px; 
  font-size: 18px;
}

.subscribe-form button {
  position: absolute;
  right: 10px; 
  
  
  height: 60px;
  padding: 0 30px;
  border-radius: 12px;
  border: none;
  background-color: var(--text-highlight);
  color: var(--footer-background);
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.banner-food-image {
  position: absolute; 
  right: 75px; 
  bottom: -66px; 
  width: 280px; 
}

.main-container {
  max-width: 1200px; 
  margin: 0 auto; 
  padding: 0 20px; 
}

.main-title {
  display: flex;
  justify-content: center;
  font-family: var(--font-family-hightlight);
  font-weight: 600;
  font-size: 45px;
  margin-top: 105px;
  margin-bottom: 70px;
}

.main-title span {
  color: var(--text-highlight);
}

.cards-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-bottom: 70px;
}

@media (max-width: 900px) {
  .cards-row {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .cards-row {
    grid-template-columns: 1fr; 
  }
}

.card {
  border: 1px solid white;
  border-radius: 15.85px;
  background-color: var(--site-background);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
}

.card-container {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.card-container img {
  width: 309, 7px;
  height: 272.36px;
}

.card-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-bottom img {
  width: 43.7px;
  height: 43.7px;
}

.card-description h2 {
  font-family: var(--font-family-hightlight);
  font-weight: 600;
  font-size: 21.14px;
  padding: 20px 0;
}

.card-bottom-author {
  display: flex;
  gap: 10px;
}

.card-bottom-author-name p {
  font-family: var(--font-family-base);
  font-weight: 400;
  font-size: 11.77px;
  color: var(--text-cards-desc);
}

.author-name h3 {
  font-family: var(--font-family-hightlight);
  font-weight: 500;
  font-size: 17.02px;
}

.card-bottom-data {
  font-family: var(--font-family-hightlight);
  font-weight: 500;
  font-size: 15.85px;
  color: var(--text-cards-desc);
}

.slider {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.slider button {
  border: none;
  background-color: var(--site-background);
  cursor: pointer;
}

.slider img{
  width: 50%;
}

.FAQs{
  margin-top: 120px;
}

.FAQs-title {
  position: relative; 
  display: flex; 
  justify-content: center;
  margin-bottom: 40px;
}

.FAQs-title h2 {
  font-family: var(--font-family-hightlight);
  font-weight: 600;
  font-size: 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.FAQs-title span {
  color: var(--text-highlight);
}

.faq-decoration {
  position: absolute; 
  top: -40px; 
  right: 28%; 
  width: 50px;
}

.Questions {
  display: grid;
  gap: 28px;
}

.Q {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid var(--border-color);
}

.Q button {
  border: none;
  cursor: pointer;
  background-color: var(--site-background);
}

.Q img {
  width: 30px;
  height: 30px;
}

.site-footer {
  background-color: var(--footer-background);
}

.footer-container {
  margin: 0 96px;
  margin-top: 48px;
}

.upper-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 96px;
  padding-bottom: 30px;
  border-bottom: 1px solid var(--border-color);
}

.footer-banner {
  display: flex;
  align-items: center;
  gap: 15px;
}

.footer-banner img {
  width: 62px;
  height: 57px;
}

.footer-banner h2 {
  font-family: var(--font-family-hightlight);
  font-weight: 600;
  font-size: 29px;
  color: var(--text-highlight);
}

.footer-menu ul {
  list-style: none;
  display: flex;
  gap: 70px;
}

.footer-menu a {
  text-decoration: none;
  color: var(--text-primary);
  font-family: var(--font-family-base);
  font-weight: 500;
  font-size: 18px;
}

.lower-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 57px;
  padding-bottom: 81px;
}

.copyright p {
  font-family: var(--font-family-base);
  font-weight: 500;
  font-size: 17px;
  color: var(--text-primary);
}

.footer-lower-socials ul {
  list-style: none;
  display: flex;
  gap: 54px;
}

.footer-lower-socials img {
  width: 80%;
  height: 80%;
}
